/* START GENERAL RULES */

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    margin: 0;
    font-family: "DM Serif Display", "serif";
    font-size: 16px;
    line-height: 1.2em;
    background-color: #FFFFFF;
}

.container {
    background-color: #F7F7F7;
    margin-top: 110px;
    padding-left: 70px;
    padding-right: 70px;
    max-width: 1110px;
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
}

.adapter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reverse-delete {
    display: none;
}

/* END GENERAL RULES */

/* START NAVIGATION RULES */

.navbar{
    background-color: #073e7c;
    font-family: "Roboto Light", Roboto, "sans-serif";
    min-height: 120px;
    font-size: 12px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
}

.always-visible{
    position: absolute;
}

.front-menu {
    display: flex;
    flex-direction: row;
}

/* END NAVIGATION RULES */

/* START ARTICLES RULES */

/* END ARTICLES RULES */

/* START FOOTER RULES */

/* END FOOTER RULES */

/* START MOBILE RULES */

@media screen and (max-width: 1080px) {
    .unview {
        display: none;
    }

    .navbar {
        background-color: #073e7c;
        font-family: "Roboto Light", Roboto, "sans-serif";
        min-height: unset;
        width: 100%;
        border-bottom: 1px solid #BDBDBD;
        font-size: 12px;
        position: fixed;
        display: flex;
        justify-content: space-between;
    }

}

@media screen and (max-width: 570px) {
    .logo {
        display: none;
    }

    #search {
        display: none;
    }
}

/* END MOBILE RULES*/