/* START GENERAL RULES */

*{
    margin: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: DMSerifDisplay;
    src: url('https://cdn.jsdelivr.net/npm/@fontsource/dm-serif-display@4.5.10/files/dm-serif-display-all-400-normal.woff') format('woff');
}

body{
    height: 100%;
    margin: 0;
    font-family: DMSerifDisplay, serif;
    font-size: 16px;
    color: #212529;
    line-height: 1.5;
    font-weight: 400;
    text-align: left;
    background-color: #FFFFFF;
}

.container {
    background-color: #F7F7F7;
    margin-top: 110px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 70px;
    padding-right: 70px;
    max-width: 1110px;
    width: 100%;
    height: 100%;
}

.adapter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reverse-unview,
.reverse-strong-unview {
    display: none;
}

/* END GENERAL RULES */

/* START NAVIGATION RULES */

.navbar{
    background-color: #073e7c;
    font-family: "DM Sans",sans-serif;
    font-size: 14px;
    font-weight: bold;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1
}

.left-menu{
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

.left-menu li.highlighted a{
    background-color: #ffe500;
    margin: 10px 10px 0 0;
}

#top-bar {
    background-color: #031a34;
    height: 0;
    margin-top: -5px;
    list-style: none;
    box-sizing: border-box;
}

.top-div {
    width: 100%;
}

#top-menu {
    padding-left: 0;
}

#top-menu li {
    list-style: none;
    text-decoration: none;
    margin-top: -7px;
}

#top-menu li a:link,
#top-menu li a:visited{
    color: #FFFFFF;
    text-decoration: none;
    padding: 0 15px 0 15px;
}

#top-menu li a:hover{
    text-decoration: underline;
    font-size: medium;
    line-height: normal;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#section-menu {
    list-style: none;
    margin-left: -45px;
    margin-top: -10px;
}

#left-list {
    padding-left: 15px;
    margin-top: -5px;
    list-style: none;
    box-sizing: border-box;
}

#left-list li {
    float: left;
    border-left: 2px dotted;
    border-color: #FFFFFF;
}
#left-list li a:link,
#left-list li a:visited{
    color: #FFFFFF;
    text-decoration: none;
    padding: 0 15px 0 15px;
}

#left-list li a:hover{
    text-decoration: underline;
    font-size: medium;
    line-height: normal;
}

.front-menu {
    display: flex;
    flex-direction: row;
}

.right-menu li{
    float: right;
    min-height: 50px;
}

.right-menu li a:link,
.right-menu li a:visited{
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px 15px 0 0;
    display: block;
}

.right-menu li a:hover{
    font-size: medium;
    margin: 0;
}

.right-menu li.highlighted a{
    background-color: #ffe500;
    color: #000000;
    padding: 5px;
    margin: 10px 10px 0 0;
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 4px;
    background-color: #FFFFFF;
    margin: 5px 0;
    transition: 0.4s;
}

.change .bar1{
    -webkit-transform: rotate(-45deg) translate(-7.5px, 5px);
    transform: rotate(-45deg) translate(-7.5px, 5px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-7.5px, -5px);
    transform: rotate(45deg) translate(-7.5px, -5px);
}

.logo {
    display: none;
}

/* END NAVIGATION RULES */

/* START ARTICLES RULES */

header {
    box-sizing: border-box;
    margin-top: 0;
    margin-left: -70px;
    margin-right: -70px;
    padding: 30px 70px;
    display: block;
}

.title {
    padding-bottom: 8px;
    border-bottom: 5px solid;
    position: relative;
    display: flex;
}

.degrees {
    font-size: 35px;
}

.title h1 {
    margin: -5px 0 0 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

.title a {
    margin-top: 15px;
    margin-bottom: -15px;
}

.day {
    right: 0;
    bottom: 0;
    position: absolute;
    font-size: 14px;
}


.hot-topics {
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    font-size: 14px;
    border-bottom: 1px solid;
    border-bottom-color: #000000;
    padding: 8px 0;
    margin: 0;
    overflow: hidden;
}

.hot-topics ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.hot-topics li {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

.hot-topics a {
    text-decoration: none;
    display: inline-block;
    line-height: 18px;
    text-transform: uppercase;
    padding: 3px 5px;
    border-radius: 2px;
}

.hot-topics img {
    margin-right: 10px;
}

.grey a {
    color: #666666
}

.grey a:hover{
    background-color: #cecece;
    color:#FFFFFF
}

.red a {
    background-color: #FF0000;
    color:#FFFFFF;
}

.red a:hover{
    background-color: #ffffff;
    color: #FF0000;
}

.blue a{
    background-color: #073e7c;
    color: #FFFFFF;
}

.red-bar-container{
    margin-top: 20px;
    padding-left: 0;
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.red-bar-left{
    float: left;
    background-color: #E50901;
    width: 90%;
    display: flex;
    padding: 5px 5px 3px 5px;
}

.red-bar-right{
    float: right;
    background-color: #E50901;
    width: 10%;
    padding: 5px 5px 3px 5px;
    min-width: 100px;
}

.red-bar-left p,
.red-bar-right a {
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
}

.white-bar {
    background-color: #FFFFFF;
    height: 200px;
    margin: 0 15px 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.first-page,
.last-news {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
}

.big-article {
    flex: 0 0 66.7%;
    max-width: 66.7%;
    padding-left: 0;
    order: 1;
    position: relative;
    width: 100%;
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.small-article-left {
    width: calc(50% - 15px);
    margin: 0 30px 30px 0;
    position: relative;
    display: block;
}

.small-article-rigt {
    width: calc(50% - 15px);
    margin: 0 0 30px 0;
    position: relative;
    display: block;
}

.s-title {
    padding: 15px 15px;
}

aside {
    flex: 0 0 33.3%;
    max-width: 33.3%;
    padding-right: 0;
    order: 2;
    position: relative;
    width: 100%;
    padding-left: 15px;
    display: block;
}

article {
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.05);
    border-radius: 2px;
    background: #FFFFFF;
    margin-bottom: 10px;
}

.image {
    order: 2;
    position: relative;
}

.a-title {
    order: 1;
    padding: 20px 30px;
}

.subject {
    font-family: 'DM Sans',sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0;
    color: #000;
    font-size: 13px;
    line-height: 1.25;
    margin-bottom: 3px;
}

.subject img {
    margin-right: 10px;
}

h2 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: DMSerifDisplay, serif;
    line-height: 1.2;
    font-weight: 500;
}

h2 a,
h3 a {
    text-decoration: none;
    color: #000000;
}

.author {
    font-family: 'DM Sans',sans-serif;
    font-weight: bold;
    color: #000;
    margin-top: 8px;
    font-size: 15px;
}

h4 a {
    text-decoration: none;
    color: #000000;
    font-family: DMSerifDisplay, serif;
}

.box{
    position: sticky;
    top: 63px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.ad-container{
    position: relative;
    text-align: center;
    font-family: Impact, serif;
}

.ad{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* END ARTICLES RULES */

/* START FOOTER RULES */

footer {
    padding-left: 70px;
    padding-right: 70px;
    margin: 0 -70px 30px;
    padding-bottom: 30px;
    display: block;
    box-sizing: border-box;
}

.f-navbar {
    border-top: 5px solid #000000;
    border-bottom: 2px dotted #000000;
    padding: 20px 0;
    margin-bottom: 20px;
    justify-content: space-between;
    display: flex;
    flex-flow: row nowrap;
}

.f-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    display: inline-flex;
}

.f-menu a{
    text-decoration: none;
    box-sizing: border-box;
    margin: 0 10px 0 0;
    font-family: 'DM Sans',sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #073e7c;
}

.f-menu li a:hover{
    text-decoration: underline;
}

.highlighted a{
    background-color: #073e7c;
    color: #FFFFFF;
    padding: 8px;
    margin: 10px 10px 0 0;
}

.highlighted a:hover{
    background-color: #031a34;
}

footer p{
    font-family: 'DM Sans',sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    line-height: 16px;
    color: #333333;
}

.f-loghi {
    padding: 14px 0;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}

.end {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: bold;
}

/* END FOOTER RULES */

/* START MOBILE RULES */

@media screen and (max-width: 1110px) {
    .unview {
        display: none;
    }

    .logo{
        display: flex;
        padding: 10px 0 0 0;
    }

    .reverse-unview {
        display: flex;
    }

    #top-bar {
        height: 50px;
    }

    #user {
        margin-left: -25px;
    }

    .container {
        margin-top: 0;
        max-width: 828px;
        padding-left: 30px;
        padding-right: 30px;
    }

    aside {
        display: none;
    }

    #last-1{
        display: none;
    }

}

@media screen and (max-width: 828px) {

    .container {
        padding-left: 15px;
        padding-right: 15px;
        max-width: 606px;
    }

    .strong-unview {
        display: none;
    }

    .big-article {
        flex: 0 0 100%;
        max-width: 100%;
    }

    #last-2{
        display: none;
    }

    .reverse-strong-unview {
        display: flex;
    }

}

@media screen and (max-width: 610px) {

    .s-unview {
        display: none;
    }

}

/* END MOBILE RULES*/